<?xml version="1.0" encoding="UTF-8"?>
<config>

    <modules>
        <Clever_InstallConfig>
            <version>0.1.0</version>
        </Clever_InstallConfig>
    </modules>
    
    <global>
        
        <models>
            <install>
                <rewrite>
                    <installer_console>Clever_InstallConfig_Model_Installer_Console</installer_console>
                    <installer>Clever_InstallConfig_Model_Installer</installer>
                </rewrite>
            </install>
        </models>
        
        <helpers>
            <clever_installconfig>
                <class>Clever_InstallConfig_Helper</class>
            </clever_installconfig>
        </helpers>
        
    </global>
    
</config>